
*.ipynb
.vscode/settings.json
debug.log
*.mp4
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/TwitchYoutubeHighlights.iml
.idea/vcs.xml
DownloadedVideos/Metropolis Black.ttf
core/geckodriver.log
Dependencies/chromedriver.exe
Dependencies/client file..json
DownloadedVideos/AT-cm 823982093.mp4.part
*.pyc
Dependencies/client_secret.json
Dependencies/token_youtube_v3.pickle
geckodriver.log
core/dependencies/client_secret.json
core/dependencies/token_youtube_v3.pickle
MainLogFile.log
*.mp3
dependencies/geckodriver.exe/youtube.com.pkl
