
*.ipynb
.vscode/settings.json
debug.log
*.mp4
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/TwitchYoutubeHighlights.iml
.idea/vcs.xml
DownloadedVideos/Metropolis Black.ttf
core/geckodriver.log
Dependencies/chromedriver.exe
